{% extends "base.html" %}

{% block page_content %}
    <div class="carousel">
        <div class="card">
            test
        </div>
        <div class="card">
            <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
        </div>
        <div class="card">
            <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
        </div>
        <div class="card">
            <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
        </div>
        <div class="card">
            <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
        </div>
        <div class="card">
            <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
        </div>
        <div class="card">
            <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
        </div>
        <div class="card">
            <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
        </div>
        <div class="card">
            <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
        </div>
        <div class="card">
            <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
        </div>
        <div class="card">
            <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
        </div>
    </div>
{% endblock page_content %}