{% extends "base.html" %}

{% block page_content %}
    <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta lang="en-US">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bookshelf.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <button>Menu</button>
                <img src="https://cdn-icons-png.flaticon.com/512/9815/9815472.png">
            </nav>
        </header>
        <main>
            <div class="carousel">
                <div class="card">
                    test
                </div>
                <div class="card">
                    <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
                </div>
                <div class="card">
                    <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
                </div>
                <div class="card">
                    <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
                </div>
                <div class="card">
                    <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
                </div>
                <div class="card">
                    <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
                </div>
                <div class="card">
                    <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
                </div>
                <div class="card">
                    <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
                </div>
                <div class="card">
                    <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
                </div>
                <div class="card">
                    <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
                </div>
                <div class="card">
                    <img src="https://img.wattpad.com/cover/1565631-256-k125591.jpg">
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
{% endblock page_content %}