{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
    <h1>Home</h1>

    <h2> Hi {{ user.username }}! </h2>
    <a href="/bookshelf/">Bookshelves</a> </br>
    <a href="/friend_request/">Friend Requests</a> </br>
    <a href="/loan_request/">Loan Requests</a>
    <p><a href="{% url 'password_change' %}">Change Password</a></p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>

    {% endblock page_content %}
