<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta lang="en-US">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bookshelf.css' %}">
    </head>
    
    <body class="container">
        <header>
            <nav>
                <button>Menu</button>
                <img src="https://cdn-icons-png.flaticon.com/512/9815/9815472.png">
            </nav>
        </header>
            <main>
                {% if user.is_authenticated %}
                {% block page_content %}{% endblock page_content %}
                {% else %}
                {% block authentication %}
                    <p>You are not logged in</p>
                    <p><a href="{% url 'signup' %}">Sign up</a></p>
                    <p></p><a href="{% url 'login' %}">Log In</a></p>
                    <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
                {% endblock authentication %}

                {% endif %}
            </main>
        <footer>

        </footer>
    </body>
</html>